@import "@radix-ui/colors/mauve";
@import "@radix-ui/colors/mauve-alpha";
@import "@radix-ui/colors/mauve-dark";
@import "@radix-ui/colors/mauve-dark-alpha";
@import "@radix-ui/colors/plum";
@import "@radix-ui/colors/plum-alpha";
@import "@radix-ui/colors/plum-dark";
@import "@radix-ui/colors/plum-dark-alpha";
@import "@radix-ui/colors/ruby";
@import "@radix-ui/colors/ruby-alpha";
@import "@radix-ui/colors/ruby-dark";
@import "@radix-ui/colors/ruby-dark-alpha";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Radix-ui color aliases */
    /* To switch colors - assign diff. color name in aliases below */

    /* Main color */
    --accent-1: var(--plum-1);
    --accent-2: var(--plum-2);
    --accent-3: var(--plum-3);
    --accent-4: var(--plum-4);
    --accent-5: var(--plum-5);
    --accent-6: var(--plum-6);
    --accent-7: var(--plum-7);
    --accent-8: var(--plum-8);
    --accent-9: var(--plum-9);
    --accent-10: var(--plum-10);
    --accent-11: var(--plum-11);
    --accent-12: var(--plum-12);

    /* Main color with alpha */
    --accent-a1: var(--plum-a1);
    --accent-a2: var(--plum-a2);
    --accent-a3: var(--plum-a3);
    --accent-a4: var(--plum-a4);
    --accent-a5: var(--plum-a5);
    --accent-a6: var(--plum-a6);
    --accent-a7: var(--plum-a7);
    --accent-a8: var(--plum-a8);
    --accent-a9: var(--plum-a9);
    --accent-a10: var(--plum-a10);
    --accent-a11: var(--plum-a11);
    --accent-a12: var(--plum-a12);

    /* Neutral grayish color */
    --neutral-1: var(--mauve-1);
    --neutral-2: var(--mauve-2);
    --neutral-3: var(--mauve-3);
    --neutral-4: var(--mauve-4);
    --neutral-5: var(--mauve-5);
    --neutral-6: var(--mauve-6);
    --neutral-7: var(--mauve-7);
    --neutral-8: var(--mauve-8);
    --neutral-9: var(--mauve-9);
    --neutral-10: var(--mauve-10);
    --neutral-11: var(--mauve-11);
    --neutral-12: var(--mauve-12);

    /* Neutral grayish color with alpha */
    --neutral-a1: var(--mauve-a1);
    --neutral-a2: var(--mauve-a2);
    --neutral-a3: var(--mauve-a3);
    --neutral-a4: var(--mauve-a4);
    --neutral-a5: var(--mauve-a5);
    --neutral-a6: var(--mauve-a6);
    --neutral-a7: var(--mauve-a7);
    --neutral-a8: var(--mauve-a8);
    --neutral-a9: var(--mauve-a9);
    --neutral-a10: var(--mauve-a10);
    --neutral-a11: var(--mauve-a11);
    --neutral-a12: var(--mauve-a12);

    /* danger color */
    --danger-1: var(--ruby-1);
    --danger-2: var(--ruby-2);
    --danger-3: var(--ruby-3);
    --danger-4: var(--ruby-4);
    --danger-5: var(--ruby-5);
    --danger-6: var(--ruby-6);
    --danger-7: var(--ruby-7);
    --danger-8: var(--ruby-8);
    --danger-9: var(--ruby-9);
    --danger-10: var(--ruby-10);
    --danger-11: var(--ruby-11);
    --danger-12: var(--ruby-12);

    /* danger color with alpha
    --danger-a1: var(--ruby-a1);
    --danger-a2: var(--ruby-a2);
    --danger-a3: var(--ruby-a3);
    --danger-a4: var(--ruby-a4);
    --danger-a5: var(--ruby-a5);
    --danger-a6: var(--ruby-a6);
    --danger-a7: var(--ruby-a7);
    --danger-a8: var(--ruby-a8);
    --danger-a9: var(--ruby-a9);
    --danger-a10: var(--ruby-a10);
    --danger-a11: var(--ruby-a11);
    --danger-a12: var(--ruby-a12);

    /* shadcn/ui b&w theme */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: var(--neutral-3);
    --popover-foreground: var(--neutral-12);
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: var(--accent-5);
    --accent-foreground: var(--accent-12);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    /* required by  */
    --color-background: var(--neutral-1);
  }

  .dark {
    /* shadcn/ui b&w theme */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: var(--accent-2);
    --accent-foreground: var(--accent-12);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background: var(--accent-5);
  color: var(--neutral-12);
}
